.game-board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid #ccc;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card {
  background-color: #3cff00;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.card-player1 {
  background-color: lightblue;
}

.card-player2 {
  background-color: lightgreen;
}
.highlighted {
  background-color: rgb(112, 112, 112);
}



